@import "reset.css";

@page {
    margin-top: 10mm;
    margin-bottom: 10mm;
    margin-left: 7mm;
    margin-right: 7mm;
    size: 257mm 182mm;
}

img {
    transform: scale(1.25, 1);
    transform-origin: center;
    display: block;
    max-width: 80%;
    height: auto;
    margin-block-start: 1ic;
}

html {
    writing-mode: vertical-rl;
    font-family: "linzklar_rounded";
    color: #134e78;
}

h1 {
    display: inline;
    box-decoration-break: clone;
    background-color: #134e78;
    color: white;
    font-size: 16q;
    font-weight: bold;
    letter-spacing: 4q;
    line-height: 1.7;
    padding-top: 0.2ic;
    padding-bottom: 0.2ic;
    padding-right: 0.2ic;
    padding-left: 0.2ic;
}

h2 {
    font-size: 16q;
    font-weight: bold;
    transform: scale(0.8, 1);
    padding-right: 0.1ic;
    padding-left: 0.1ic;
}

p,
ul {
    font-size: 14q;
    transform: scale(0.8, 1);
    transform-origin: top right;
    line-height: 1.4;
    text-align: justify;
}

.tcy {
    text-combine-upright: all;
}

.upright {
    text-orientation: upright;
}

ul {
    list-style: none;
    margin-block-end: 0;
}

li::before {
    content: "ãƒ»";
    text-orientation: upright;
    display: inline-block;
    transform: scale(1.25, 1);
    transform-origin: center;

}

.lead {
    font-size: 16q;
    font-weight: bold;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

.space {
    margin: 5mm;
}

.flavor {
    color: #7493a6;
}